@import "tailwindcss";

@theme {
  --font-display: var(--font-sora), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
  
  --animate-spin-slow: spin 15s linear infinite;
}

:root {
  --background: #ffffff;
  --foreground: #101417;
}

/* Custom background animations/utilities */
.bg-radial-gradient {
  background: radial-gradient(circle at center, var(--tw-gradient-stops));
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar hides */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
